.topic_detail_contain{
  padding-top: 20px;
  .topic_title{
    font-size: 18px;
    text-align: center;
  }
  .author_info{
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-top: 10px;
    span{
      margin:0 3px;
    }
  }
  h2, h3{
    line-height: 3em;
  }
  p{
    margin:6px 0;
  }
  .topic_content{
    font-size: 14px;
    line-height: 2em;
    color: #333;
    padding: 1em;
    img{
      width: 100%;
    }
    h2{
      font-weight: normal;
    }
  }
  .markdown-text{
    h2{
      font-weight: normal;
    }
  }
  .comment_top{
    padding: 0 1em;
  }
}